kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    app.kubernetes.io/name: ibm-monitoring
    app.kubernetes.io/instance: grafana
    app.kubernetes.io/managed-by: ibm-monitoring-grafana-operator
  name: ibm-monitoring-grafana-operator
subjects:
- kind: ServiceAccount
  name: ibm-monitoring-grafana-operator
  namespace: ibm-common-services
roleRef:
  kind: ClusterRole
  name: ibm-monitoring-grafana-operator
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    app.kubernetes.io/name: ibm-monitoring
    app.kubernetes.io/instance: grafana
    app.kubernetes.io/managed-by: ibm-monitoring-grafana-operator
  name: ibm-monitoring-grafana
subjects:
- kind: ServiceAccount
  name: ibm-monitoring-grafana
  namespace: ibm-common-services
roleRef:
  kind: ClusterRole
  name: ibm-monitoring-grafana
  apiGroup: rbac.authorization.k8s.io
